<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
<h2>Transfer Money</h2>
<input type="text" id="payer" placeholder="Address">
<input type="text" id="payee" placeholder="Address">
<input type="number" id="amount" placeholder="Amount">
<button class="btn" onclick="transfer()">Transfer money</button>
<form action="/main" method="post">
<input type="submit" value="Main">
</form>
<script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
<script src="{{ url_for('static', filename='paynow.js') }}"></script>
</div>
</body>
</html>